.custom__input_container {
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

.custom__label {
  color: #fff;
  text-shadow: 1px 1px #000;
  font-weight: 700;
  font-size: 1.125rem;
}
