.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__block {
  display: flex;
  flex-direction: column;
}

.header_name {
  font-size: 3rem;
}

.header_description {
  font-size: 1rem;
  color: #907775;
}

.header__link {
  font-size: 1.5rem;
  color: #000;
}
