.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.header__block {
  display: flex;
  flex-direction: column;
}

.header_name {
  font-size: 3rem;
  color: #fff;
  text-shadow: -0.250rem 0.250rem 0.250rem #000;
}

.header_description {
  font-size: 1rem;
  color: #fff;
  text-shadow: -0.250rem 0.250rem 0.250rem #000;
}

.header__link {
  font-size: 1.5rem;
  position: absolute;
  top: 3%;
  right: 3%;
  color: #fff;
  text-shadow: -0.250rem 0.250rem 0.250rem #000;
}
