.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
}

.header__block {
  display: flex;
  flex-direction: column;
}

.header_name {
  font-size: 3rem;
  color: #fff;
  text-shadow: -0.250rem 0.250rem 0.250rem #000;
}

.header_description {
  font-size: 1rem;
  color: #fff;
  text-shadow: -0.250rem 0.250rem 0.250rem #000;
}
